<section class="destination-section photo-section" aria-labelledby="DestinationHeader">
	<div class="destination-glass-panel glass-panel">
		<p class="section-eyebrow">The Destination</p>
		<h2 class="section-heading" id="DestinationHeader">The Fabulous Las Vegas</h2>
		<div class="destination-copy">
			<p>Where does a such a dignified and loving couple seal their long-standing and devotional love for an eternity of marriage? That's right, Las Vegas, Nevada!</p>
			<p>We are beyond excited to tie the knot in a city which doesn't know the meaning of the word "extra." Vegas has so many of our favorite things! Warm weather, drag entertainment, surreal amusemets, and delicious food.</p>
			<p>This time, what happens in Vegas will NOT stay in Vegas! We hope you can join us</p>
		</div>
	</div>
</section>
