<div id="engagementCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#engagementCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/engagement-pictures/landscape-moment.jpg" class="d-block w-100" alt="Eliza and Malone smile at each other, foreheads touching, in an intimate photo moment">
    </div>
    <div class="carousel-item">
      <img src="/images/engagement-pictures/landscape-malone-flower.jpg" class="d-block w-100" alt="Malone's smile radiates as Eliza tucks a yellow flower behind their ear">
    </div>
    <div class="carousel-item">
      <img src="/images/engagement-pictures/landscape-books.jpg" class="d-block w-100" alt="Eliza and Malone laying together, heads touching with bright smiles and books lying atop their chests.">
    </div>
    <div class="carousel-item">
      <img src="/images/engagement-pictures/landscape-green-smiles.jpg" class="d-block w-100" alt="Eliza and Malone snuggle close to each other with beautiful green foliage behind them.">
    </div>
    <div class="carousel-item">
      <img src="/images/engagement-pictures/landscape-spin.jpg" class="d-block w-100" alt="Malone spins Eliza, with her hair flying behind her and a grin spreading across her face.">
    </div>
    <div class="carousel-item">
      <img src="/images/engagement-pictures/landscape-smolder.jpg" class="d-block w-100" alt="Eliza tosses a coy look towards Malone as they conclude a dance.">
    </div>
  </div>
</div>