
<div class="bg-common navbar-gradient">

  <div class="text-center py-2">
    <a href="#"><img src="./images/monogram.png" alt="" width="90" height="90"></a>
    <div class="fs-2 fw-light mb-2 text-common">
      Malone & Eliza
    </div>

    <div class="fs-5 text-common">
      July 31st, 2027
      <span class="mx-2">•</span>
      6:00pm
      <span class="mx-2">•</span>
      Las Vegas, Nevada
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">

      <button
        class="navbar-toggler mx-auto border-0"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">

        <i class="fa-solid fa-chevron-down" id="chevron-down"></i>
        <i class="fa-solid fa-chevron-up" id="chevron-up"></i>

      </button>

      <div class="collapse navbar-collapse w-100" id="navbarNav">
        <ul class="navbar-nav text-center d-flex justify-content-around w-100">
          <li class="nav-item">
            <a class="nav-link text-common" href="#DestinationHeader">The Destination</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-common" href="#VenueHeader">The Venue</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-common" href="#FamilyHeader">Our Family</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-common" href="#RsvpHeader">RSVP</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</div>
